* {
    font-family: 'Poppins', sans-serif;
}

.menu-container {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    background-color: #003F62;

    padding: 10px 0px;
}

.menu-item-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-item-logo img {
    margin-right: 30px;
}

.menu-item-logo button {
    background: none;
}

.material-symbols-outlined {
    display: none;
    color: white;
}

.menu-item-search {
    position: relative;
}

.menu-item-search input,button{
    border: none;
    outline: none;
    border-radius: 8px;
}

.menu-item-search input[type="text"]{
    height: 36px;
    padding: 0px 25px;
}

.menu-item-search button {
    position: absolute;
    height: 36px;

    background-color: #EDA415;
    left: calc(100% - 15px);
}

.menu-item-search button:hover {
    cursor: pointer;
}

.menu-items-account a {
    text-decoration: none;
    color: #fff;

    padding: 0px 20px 0px 0px;
}

.menu-items-account ul{
    display: flex;
    flex-direction: row;
    
    list-style: none;
}

.menu-items-account a {
    display: flex;
    align-items: center;
}


/**/
main {
    padding: 5px;
}

section {
    padding-top: 50px;
    max-width: 1400px;
    margin: 0 auto;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    place-content: center;
    gap: 20px;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-items: center;

    outline: 1px solid rgb(209 209 209);
    border-radius: 10px;
    padding: 10px;
}

.product-item img {
    width: 100%;
    opacity: 60%;
}
.product-item img:hover {
    opacity: 80%;
}

.product-info p{
    margin: 0px;
    margin-bottom: 10px;
    color: #003F62;
}

/**/

.main-container-oferta {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.oferta-about h1 {
    color: #1B5A7D;
    font-weight: 700;
    line-height: 65px;
}

.oferta-button-shop-now {
    width: 144px;
    height: 61px;
    color: #fff;
    background-color: #EDA415;
    border-radius: 20px;
    padding: 10px;
    border: none;
    margin-right: 20px;
    margin-bottom: 10px;
}
.oferta-button-view-more {
    width: 144px;
    height: 61px;
    color: #316887;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #316887;
    margin-bottom: 10px;
}
.oferta-button-view-more:hover {
    background-color: #316887;
    color: #fff;
}

.oferta-imagen {
    position: relative;
    width: 360px;
}

.oferta-imagen img {
    width: 100%;
}

.oferta-imagen div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #EDA415;
    width: 90px;
    height: 90px;
    top: calc(100% - 150px);
    left: calc(100% - 100px);
}
.oferta-imagen label {
    color: #fff;
}

/**/

.main-container-popularProducts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-container-popularProducts h2 {
    color: #1B5A7D;
    line-height: 41px;
}

.main-container-popularProducts div button {
    width: 139px;
    height: 45px;
    color: #1B5A7D;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #003F62;
    margin-right: 10px;
    margin-bottom: 10px;
}
.main-container-popularProducts div button:hover {
    background-color: #003F62;
    color: #fff;
}

/**/

.main-container-saleOff {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("./assets/img/computerBackground.png");
    background-size: cover;
    border-radius: 20px;
    text-align: right;

    margin-bottom: 50px;
}

.saleOff-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 10px;
}

.saleOff-item h3 {
    font-weight: 700;
    font-size: 41px;
    line-height: 62px;
    color: #2E8FC5;
    margin: 0;
    margin-top: 30px;
}

.saleOff-item p {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin: 0;
}

.main-container-saleOff button {
    width: 144px;
    height: 45px;
    color: #fff;
    background-color: #EDA415;
    border-radius: 20px;
    padding: 10px;
    border: none;
    margin-right: 20px;
    margin-top: 30px;
}

/**/

.main-container-beneficios {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    flex-wrap: wrap;
    background-color: #E2F4FF;
    border-radius: 10px;
}

.container-beneficios-item {
    display: flex;
    width: 281px;
    flex-direction: row;
    align-items: center;
    
}

.container-beneficios-item img {
    width: 60px;
    height: 60px;
    margin-right: 30px;
}
.container-beneficios-item p {
    color: #003F62;
}
.item-beneficios-title {
    font-weight: bold;
}

/**/

.main-container-sponsor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px 0px 30px;
    background-color: #E2F4FF;
}
.main-container-sponsor img{
    margin-bottom: 30px;
}

/**/

.main-container-comentarios {
    display: grid;
    grid-template-columns: repeat(auto-fit, 430px);
    place-content: center;
}

.comentario-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #BABABA;
    margin-left: 10px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
.comentario-item-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.comentario-item-info img{
    border: 2px dashed #EDA415;
    border-radius: 50%;
}
.comentario-item-info p{
    color: #003F62;
    display: block;
    width: 100%;
    text-align: center;

}

.comentario-item-descripcion {
    background-color: #E2F4FF;
    border-radius: 20px;
    padding: 10px;
}

.comentario-item-descripcion p {
    font-weight: 400;
    font-size: 13.1707px;
    line-height: 20px;
    color: #003F62;
}

/**/

.footer-container {
    background-color: #E2F4FF;
    padding: 10px;
}
.footer-subscribe {

    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    border-radius: 20px;

    height: 140px;

    padding: 5px;
}
.sendContact-input {
    position: relative;
}
.footer-subscribe input {
    display: block;
    background: #EDA415;
    border-radius: 20px;
    border: none;

    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #FFFFFF;

    padding: 10px 20px;

}
.footer-subscribe input:focus {
    outline: none;
}
.footer-subscribe input::placeholder {
    color: #FFFFFF;
}
.subscribe-newsLetter {
    font-weight: 700;
    font-size: 29.38px;
    line-height: 44px;

    margin: 10px;

    color: #1B5A7D;
}
.footer-sendContact {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-sendContact button{
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 0px;
    background-color: #EDA415;
    left: calc(100% - 35px);
    top: calc(100% - 32px);
}
.icon-send {
    display: block;
    background-image: url("./assets/img/send_FILL0_wght400_GRAD0_opsz48.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    
}
.subscribe-infoContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

.footer-info {
    
}
@media (max-width: 860px) {
    .products-container {
        grid-template-columns: repeat(auto-fit, 200px);
    }
    .main-container-popularProducts h2 {
        display: none;
    }
    .main-container-popularProducts div{
        text-align: center;
    }
    .footer-subscribe {
        flex-direction: column;
        height: auto;
    }
}

@media (max-width: 710px) {
    .material-symbols-outlined {
        display: block;
    }
    .menu-container {
        justify-content: flex-start;
    }
    .menu-item-search {
        display: none;
    }
    .menu-items-account {
        display: none;
    }
    
}

@media (max-width: 560px) {
    .main-container-comentarios {
        grid-template-columns: repeat(auto-fit, 340px);
    }
    .products-container {
        grid-template-columns: 150px 150px;
    }
    .oferta-about h1 {
        line-height: 30px;
    }
    .product-item img {
        opacity: 100%;
    }
    .main-container-beneficios {
        align-items: center;
    }
}

@media (max-width: 490px) {
    .footer-sendContact{
        flex-direction: column;
    }
    .subscribe-newsLetter {
        font-size: 25px;
        line-height: 44px;
    }
}

@media (max-width: 420px) {
    .saleOff-item h3 {
        font-weight: 700;
        font-size: 31px;
        margin: 0;
        margin-top: 30px;
    }
}

@media (max-width: 370px) {
    /*.products-container {
        grid-template-columns: 150px 150px;
        place-content: center;
    }*/
    .product-item img {
        opacity: 80%;
    }
    
}
