/*NAV*/

.menu-container {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    background-color: #003F62;

    padding: 10px 0px;
}

.menu-item-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-item-logo img {
    margin-right: 30px;
}

.menu-item-logo button {
    background: none;
}

.material-symbols-outlined {
    display: none;
    color: white;
}

.menu-item-search {
    position: relative;
}

.menu-item-search input,button{
    border: none;
    outline: none;
    border-radius: 8px;
}

.menu-item-search input[type="text"]{
    height: 36px;
    padding: 0px 25px;
}

.menu-item-search button {
    position: absolute;
    height: 36px;

    background-color: #EDA415;
    left: calc(100% - 15px);
}

.menu-item-search button:hover {
    cursor: pointer;
}

.menu-items-account a {
    text-decoration: none;
    color: #fff;

    padding: 0px 20px 0px 0px;
}

.menu-items-account ul{
    display: flex;
    flex-direction: row;
    
    list-style: none;
}

.menu-items-account a {
    display: flex;
    align-items: center;
}

/*Footer*/


.footer-container {
    background-color: #E2F4FF;
    padding: 10px;
}
.footer-subscribe {

    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    border-radius: 20px;

    height: 140px;

    padding: 5px;
}
.sendContact-input {
    position: relative;
}
.footer-subscribe input {
    display: block;
    background: #EDA415;
    border-radius: 20px;
    border: none;

    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #FFFFFF;

    padding: 10px 20px;

}
.footer-subscribe input:focus {
    outline: none;
}
.footer-subscribe input::placeholder {
    color: #FFFFFF;
}
.subscribe-newsLetter {
    font-weight: 700;
    font-size: 29.38px;
    line-height: 44px;

    margin: 10px;

    color: #1B5A7D;
}
.footer-sendContact {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-sendContact button{
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 0px;
    background-color: #EDA415;
    left: calc(100% - 35px);
    top: calc(100% - 32px);
}
.icon-send {
    display: block;
    background-image: url("../assets/img/send_FILL0_wght400_GRAD0_opsz48.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    
}
.subscribe-infoContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

@media (max-width: 860px) {
    .footer-subscribe {
        flex-direction: column;
        height: auto;
    }
}

@media (max-width: 710px) {
    .material-symbols-outlined {
        display: block;
    }
    .menu-container {
        justify-content: flex-start;
    }
    .menu-item-search {
        display: none;
    }
    .menu-items-account {
        display: none;
    }
    
}


@media (max-width: 490px) {
    .footer-sendContact{
        flex-direction: column;
    }
    .subscribe-newsLetter {
        font-size: 25px;
        line-height: 44px;
    }
}

